body {
    font-family: sans-serif; width: 800px; margin: 0 auto; padding: 10px;
}
h1 {
    text-align: center
}
.post-header {
    float: none;
    margin: 10px;
    border-bottom: 3px solid black;
    overflow: auto;
    vertical-align: bottom;
}
.post-subject {
    font-weight: bold;
    font-size: 28px;
    float: left
}
.post-created {
    margin-top: 18px;
    font-size: 14px;
    float: right;
    color: #787878;
}
.post-blog {
    margin: 10px;
    font-size: 17px;
}