body {
    font-family: sans-serif; width: 800px; margin: 0 auto; padding: 10px;
}
.header {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}
.error {
    color: red;
}
textarea {
    width: 400px;
    height: 200px;
}