<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>CS 253 Blog</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css" />
</head>
<body>
    <h1>CS 253 Blog</h1>
    {% for post in posts %}
    <div class="post-header">
        <div class="post-subject">{{post.subject}}</div>
        <div class="post-created">{{post.created.strftime("%B %d, %Y")}}</div>
    </div>
    <div class="post-blog">{{post.content}}</div>
    <br />
    {% endfor %}

    <p align="right" class="post-blog">Queried {{updated}} seconds ago.</p>
</body>
</html>