<!DOCTYPE HTML>
<html>
<head>
    <title>New Blog Post</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog-newpost.css" />
</head>
<body>
<div class="header">new post</div>
<form method="post">
    <label>
        subject
        <br />
        <input name="subject" type="text" value="{{subject}}"/>
    </label>
    <br />
    <label>
        blog
        <br />
        <textarea name="content">{{blog}}</textarea>
    </label>
    <div class="error">{{error_message}}</div>
    <input type="submit">
</form>
</body>
</html>